html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,*:before, *:after{
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;  
  font-size: 1.6rem;
  line-height: 2;
}

/* Globales */
img{
  max-width: 100%;
}
.contenedor {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

.centrar {
  text-align: center;
}

/* bototnes */
.boton{
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
  border-radius: 2rem;
}
.boton-amarillo{
  background-color: #E08709;
}
.boton-verde{
  background-color: #71B100;
}

/* header */
.site-header{
  background-color: #333333;
  padding: 0rem;
}

.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenido-header h1{
  color: white;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 1.8;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0rem;
}

.barra img {
  max-width: 8rem;
}

/* navegacion */
.navegacion a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1.8rem;
}
.navegacion a:hover{
  color: yellow;
}

.center{
  margin-left: 10rem;
  margin-right: 10rem;
}

h2{
  margin-bottom: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* anuncios */

.contenedor-anuncios{
  display: flex;
  justify-content: space-between;
}
.anuncio{
  flex-basis: calc(33.3% - 1rem);
  border-style: solid;
  border-color: #B5B5B5;
  border-width: 1px;
  background-color: #F5F5F5;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}
.contenedor-anuncio{
  padding: 2rem;
}
.contenedor-anuncio h3{
  margin: 0;
  font-size: 25px;
}
.contenedor-anuncio p{
  margin: 0;
}
.presio{
  color: #71B100;
  font-weight: 500;
}
.iconos-caracteristicas{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  max-width: 500px;
}
.iconos-caracteristicas li{
  flex: 1;
  display: flex;
}
.iconos-caracteristicas li img{
  margin-right: 2rem;
}
.ver-todas{
  display: flex;
  justify-content: flex-end;
}
.center2{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.fondo-gris{
  background-color: white;
}

.duo-loc{
  display: flex;
  justify-content: space-evenly;
}

.duo-loc img{
  max-width: 16%;
}

.fondo-gris h2{
  padding-bottom: 3rem;
}

.arreglo1{
  margin-top: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.verticalLine {
  border-left: thick solid black;
}

.fondo-gres{
  background-color: #333333;
}
.fondo-gres h2{
  color: #f5f5f5;
}

.fondo-gres img{
  max-width: 5%;
}